{{#each errors}}
    <div class="alert alert-danger" style="color: red;">{{text}}</div>
{{else}}

{{/each}}

<h3>EDIT TAG:</h3>
<div class="card">
    <form action="/admin/tags/edit" method="POST" class="formdiv">

    <input type="hidden" name="id" value="{{tag._id}}">

    <label for="name" style="text-tranform: uppercase; font-weight: bold;">Name: </label>
    <input type="text" id="name" name="name" placeholder="Tag Name" style="text-tranform: uppercase; font-weight: bold;" class="form-control" value="{{tag.name}}">

    <label for="slug" style="text-tranform: uppercase; font-weight: bold;">Slug: </label>
    <input type="slug" id="slug" name="slug" placeholder="Tag Slug" class="form-control" style="text-tranform: uppercase; font-weight: bold;" value="{{tag.slug}}">
    <br>
    <button type="submit" class="btn" style="color: white; background-color: rgb(100, 0, 0);
    box-shadow: 2px 2px rgb(63, 0, 0); position: relative; text-transform: uppercase; font-weight: bold;">EDIT Tag</button>
    </form>
</div>


<style>
    .formdiv {
        padding: 10px
    }

    .card {
        width: 60%;
        height: 20em;
        background-color: rgb(4, 4, 24);
        border: 0px;
        box-shadow: 4px 4px rgb(63, 0, 0), 8px 8px rgb(4, 4, 24);
    }

    .btn:hover {
        background-color: rgb(63, 0, 0);
        box-shadow: 2px 2px rgb(27, 0, 0);
    }

    .btn:active {
        top: 2px;
        left: 2px;
        background-color: rgb(27, 0, 0);
    }
</style>